{%- section 'pages_heading' -%}<div class="container mt__60 mb__60 rtet4 sp_internal_link">
  {% assign htmlStr = page.content %}
  {% assign imgStarter = "<a " %}
  
  {% assign skipFirst = true %}
  {% assign prefixHtml = htmlStr | slice: 0, imgStarter.size  %}
  
  {% if prefixHtml == imgStarter %}
    {% assign skipFirst = false %}
  {% endif %}
  
  {% assign firstImgDivision = htmlStr | split: imgStarter %}
  
  {% assign fullPack = "" %}
  
  {% for piece in firstImgDivision %}
    {% if forloop.first and skipFirst %}
      {% assign fullPack = fullPack | append: piece %}
      {% continue %}
    {% endif %}
  
    {% assign copyOfPiece = piece %}
    
    {% assign imageEndDivision = copyOfPiece | split: ">" %}
    {% assign contentText = imageEndDivision[0] %}
    {% assign replaceText = contentText %}
  
    {% assign hrefTemp = contentText | split: 'href="' %}
    {% assign hrefContent = hrefTemp[1] | split: '"' | first %}
  
    {% assign additionalElement = ' rel="nofollow" '  %}
  
    {% unless hrefContent contains request.host %}
      {% unless contentText contains "rel=" %}
        {% assign replaceText = contentText | append: additionalElement %}
      {% else %}
          {% assign relTemp = contentText | split: 'rel="' %}
          {% assign relContent = relTemp[1] | split: '"' | first %}
          {% unless relContent contains "nofollow" %}
            {% assign newRel = relContent | append: " nofollow" %}
            {% assign replaceText = contentText | replace: relContent, newRel %}
          {% endunless %}
      {% endunless %}
    {% endunless %}
    {% assign changedText ="" %}
    {% if contentText %}
      {% assign changedText = copyOfPiece | replace_first: contentText, replaceText %}
    {% else %}
      {% assign changedText = copyOfPiece  %}
    {% endif %}
    {% if forloop.first %}
      {% assign fullPack = fullPack | append: changedText %}
    {% else %}
      {% assign fullPack = fullPack | append: imgStarter | append: changedText %}
    {% endif %}
  {% endfor %}
  
  {{ fullPack }}
</div>